<ion-view title="Adicionar um Pet" id="addInsta">



  <ion-content padding="true" class="has-header">
    <div style="height: 100%;">
    <p style="text-align: center">Escolha uma foto </p>

    <label class="fileContainer">


      <div class="row">
        <div class="col text-center">
        <i class="icon icon ion-camera" ></i>
        <input type="file" class="upload" onchange="previewFile()" id="files" value="{{imgURL}}" name="files[]" multiple/>
        </div>
      </div>


    </label>

    <div style="width: 100%; margin: 0 auto;"><span id="linkbox"></span>
      <input type="text" value="{{instaPet.imgURL}}" name="imgURL" id="imgURL" ng-model="instaPet.imgURL">
    </div>

    <input type="hidden" ng-model="pet.usuario" value="usuario.uid">
    <input type="hidden" ng-model="pet.usuario" value="usuario.displayName">
    <input type="hidden" ng-model="pet.usuario" value="usuario.email">
    <input type="hidden" ng-model="pet.usuario" value="usuario.photoURL">

    </div>


        <button class="button button-full button-assertive" ng-click="addInstaPet(instaPet)"  >Publicar</button>


  </ion-content>




</ion-view>
