<ion-view title="Adote" id="adote">
  <ion-nav-buttons side="right">
    <a  href="#/filtros">
    <button class="button button-icon button-clear ion-android-funnel" menu-toggle="right">
    </button>
    </a>
  </ion-nav-buttons>
    <ion-content class="has-header" >


        <div class="row responsive-sm">
          <div class="box" ng-show="pets.length < 1" >

            <p style="text-align: center; margin-top: 100px;">Nenhum PET Disponível no Momento...</p>

            <p style="text-align: center;">Use o Filtro e Veja Mais Opções</p>


            <a href="#/filtros" button class="button button-full button-assertive" >
             Filtrar
            </a>


          </div>


            <div class="col-50" ng-click="detalharPet(pet.key)" ng-repeat="(key , pet) in pets">





              <div class="card">
                    <div class="item item-image">
                        <img src="{{pet.val.imgURL}}">
                    </div>
                    <ion-item>
                        <h2>{{pet.val.nome}}</h2>
                        <p>{{pet.val.raca}}</p>
                    </ion-item>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
