<ion-view title="chat" id="chat">
  <ion-content padding="true" class="has-header">
    <ion-list id="chat-list2">
      <ion-item class="item-avatar item-icon-right assertive" href="#/tab/conversa" id="chat-list-item5">
        <h2assertive>nome
          <p>mensagem</p>
          <i class="icon ion-ios-arrow-forward"></i>
          <ion-option-button class="button-balanced">Click</ion-option-button>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive" href="#/tab/conversa" id="chat-list-item5">
        <h2assertive>nome
          <p>mensagem</p>
          <i class="icon ion-ios-arrow-forward"></i>
          <ion-option-button class="button-positive"></ion-option-button>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive" href="#/tab/conversa" id="chat-list-item5">
        <h2assertive>nome
          <p>mensagem</p>
          <i class="icon ion-ios-arrow-forward"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive" href="#/tab/conversa" id="chat-list-item5">
        <h2assertive>nome
          <p>mensagem</p>
          <i class="icon ion-ios-arrow-forward"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
