<ion-view title="Filtro de Pesquisa" id="filtros">
    <ion-nav-buttons side="right" class="has-header">
        <button class="button button-clear button-primary" ng-click="fechar()" style="font-size: 30px;">
            <i class="ion-ios-close"></i></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <ion-toggle toggle-class="toggle-assertive" ng-model="filtro.canina">
            Cachorro
        </ion-toggle>
        <ion-toggle toggle-class="toggle-assertive" ng-model="filtro.felina">
            Gato
        </ion-toggle>
        <ion-toggle toggle-class="toggle-assertive" ng-model="filtro.outros">
            Outros
        </ion-toggle>
        <label class="item item-select">
            <span class="input-label">Estado</span>
            <select ng-model="filtro.estado">
                <option value="">Selecione</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espirito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MT">Mato Grosso</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </label>

        <label class="item item-select">
            <span class="input-label">Sexo:</span>
            <select ng-model="filtro.sexo">
                <option value="">Todos</option>
                <option value="Fêmea">Fêmea</option>
                <option value="Macho">Macho</option>
            </select>
        </label>

        <button class="button button-assertive button-block" ng-click="filtrar(filtro)">Salvar</button>

    </ion-content>
</ion-view>
