<ion-view title="Login" id="login">
  <ion-content padding="true" style="background: url(img/rhpmGURJenKVIEnj8AL0_forest-dog-desktop-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form1" ng-submit="doLogin(userLogin)" novalidate class="list">
      <div class="spacer" style="width: 300px; height: 27.9844px;"></div>
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <input ng-model="$parent.userLogin.username" id="user_name" type="email" placeholder="Seu Email">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" ng-model="$parent.userLogin.password" id="user_pass" placeholder="Digite sua senha">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 15.9844px;"></div>
      <!--<button id="login-button9" class="button button-assertive  button-block">Login</button>-->
      <button type="submit" class="button button-assertive  button-block">Login</button>
    </form>
    <a ui-sref="signup" id="login-button2" style="color:#fff;" class="button button-positive  button-block button-clear">Crie uma conta</a>
    <div id="login-button-bar1" class="button-bar">
      <button id="login-button6" class="button button-positive  button-block icon ion-social-facebook"></button>
      <button id="login-button7" ng-click="doLoginGoogle(userLoginGoogle)" class="button button-assertive  button-block icon ion-social-google"></button>
    </div>
    <div class="spacer" style="width: 300px; height: 55.9844px;"></div>
  </ion-content>
</ion-view>



