<ion-view title="Meus Pets">
  <ion-content padding="true" class="has-header">
    <ion-list>

      <ion-item class="item-avatar item-icon-right assertive" id="menu-list-item28"
                data-componentid="list-item28" ng-repeat="(key , value) in myPets">
        <img src="{{value.imgURL}}">
        <h2>{{value.nome}}
          <p>Em Adoção</p>
          <a class="button button-icon icon ion-edit small" ng-click="carregarModal(value, key)"></a>
        </h2>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-view>
