<ion-view title="Perfil" id="perfil">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="perfil-card21">
      <ion-item class="item-avatar" id="perfil-list-item7">
        <img src="img/snUdAGHlTUuZHULjzF5X_166a3476d50b1505c170e31a0cd7885f.jpg">
        <h2>Yorkshire</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/GG6K8hlfS07lPZTtBOHQ_166a3476d50b1505c170e31a0cd7885f.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="perfil-list-item-container2">
        <ion-list id="perfil-list5">
          <ion-item class="assertive" id="perfil-list-item9">Nome do Pet: Chubaka</ion-item>
        </ion-list>
        <div id="perfil-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;"> É importante questionar o quanto o novo modelo estrutural aqui preconizado agrega valor ao estabelecimento dos modos de operação convencionais.</p>
        </div>
      </div>
      <div class="spacer" style="width: 300px; height: 41.9886px;"></div>
      <ion-item id="perfil-list-item12">Responsável: Joaquim</ion-item>
      <ion-item class="item-icon-left" id="perfil-list-item13">
        <i class="icon ion-ios-telephone"></i>61-9987-3774</ion-item>
      <ion-item class="item-icon-left" id="perfil-list-item14">
        <i class="icon ion-ios-email"></i>joaquim@gmail.com</ion-item>
      <ion-item class="item-icon-left" id="perfil-list-item11">
        <i class="icon ion-ios-location"></i>Ceilândia</ion-item>
    </div>
    <button id="perfil-button10" class="button button-assertive  button-block">Envie uma mensagem</button>
  </ion-content>
</ion-view>
