


<ion-view id="tab">
  <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Adote" icon="ion-home" href="#/tab/adote" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Instapet" icon="ion-social-instagram" href="#/tab/instaPet" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Meus Pets" icon="ion-social-octocat" href="#/tab/page7" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Add Pet" icon="ion-android-add-circle" id="tabsController-tab4" ng-click="modal.show()">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Chat" icon="ion-ios-chatboxes" href="#/tab/chat" id="tabsController-tab5" >
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
