<ion-view  title="Adicionar um Pet" id="addPet">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-heart"></button>
  </ion-nav-buttons>
  <ion-content ng-controller="addPetCtrl" padding="true" class="has-header">

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Espécie
        </div>
        <select ng-model="pet.especie">
          <option>Gato</option>
          <option selected>Cachorro</option>
          <option>Outros</option>
        </select>
      </label>

    </div>

    <div class="list">

      <input type="hidden" ng-model="pet.usuario" value="usuario.uid">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome do Pet</span>
        <input type="text"  placeholder="John" ng-model="pet.nome">
      </label>


      <label class="item item-input item-stacked-label">
        <span class="input-label">Raça</span>
        <input type="text" placeholder="Yorkshire" ng-model="pet.raca">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Idade</span>
        <input type="text" placeholder="1" ng-model="pet.idade">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Sexo
        </div>
        <select ng-model="pet.sexo">
          <option>Macho</option>
          <option selected>Femêa</option>

        </select>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Descrição</span>
        <input type="text" placeholder="" ng-model="pet.descricao">
      </label>
      <div class="item item-button-right">
        Adicionar Fotos
        <button class="button button-assertive">
          <i class="icon ion-plus-circled"></i>
        </button>
      </div>
    </div>

    <!-- Div image TESTE-->


    <div class="mdl-card__supporting-text mdl-color-text--grey-600" id="messagesDiv">
      <p>Select a file below. When it is uploaded, a link will be displayed to the uploaded file.</p>
      <h6>Choose File</h6>
      <input type="file" id="file" name="file"/>
      <span id="linkbox"></span>
      <h6>File URL:</h6>

    </div>
    <!--FIm da div teste-->

    <button ng-click="addPet(pet)" class="button button-block button-assertive">
      Publicar
    </button>

  </ion-content>
</ion-view>
