<ion-view title="Desaparecidos" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-heart"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="desaparecidos-list7">
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="desaparecidos-list-item19">
        <img src="img/JzgxUjT5QTW4cwLCmU75_166a3476d50b1505c170e31a0cd7885f.jpg">
        <h2assertive>Ceilândia
          <p>Raça: Yorkshire
            <br> 3km de distância
            <br> Sexo: M
            <br>
          </p>
          <i class="icon ion-android-chat"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>