<ion-view title="Adota Pet" id="apoio">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-clear button-primary" ng-click="fechar()" style="font-size: 30px;">
      <i class="ion-ios-close"></i></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="item item-body">
      <p style="text-align: justify;">
        Se você estiver interessado em ajudar o Adota Pet entre em contato pelo whatsapp
        +556192866876
      </p>

      <img src="img/loadinganimation.gif"/>
    </div>

  </ion-content>
</ion-view>
