<ion-view title="Adota Pet" id="apoio">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-clear button-primary" ng-click="fechar()" style="font-size: 30px;">
      <i class="ion-ios-close"></i></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="item item-body">
      <p style="text-align: justify;">
        Se você estiver interessado em ajudar o Adota Pet entre em contato pelo whatsapp
        +5561992866876 | Ou deixe uma mensagem abaixo com seus dados de contato
        <br>
      </p>
      <label class="item item-input item-stacked-label" style="margin: 20px;">
        <span class="input-label" >Deixe seu nome, telefone e email para contato</span>

        <textarea placeholder="Comente Aqui" rows="8" cols="10" ng-model="texto.texto">

	</textarea>
      </label>

      <button class="button button-block button-assertive" ng-click="addTexto(texto)">
        Enviar
      </button>
      <img src="img/loadinganimation.gif"/>
    </div>

  </ion-content>
</ion-view>
