<ion-view title="Adote Pet" id="ideas">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-clear button-primary" ng-click="fechar()" style="font-size: 30px;">
      <i class="ion-ios-close"></i></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="item item-body">
      <p style="text-align: justify;">
        Aqui você pode relatar problemas, trazer ideias novas,
        participar da construção do Adota Pet,
        sua opinião é muito importante para nós
        , ficamos muito gratos.
      </p>

      <p>
        Para elogios acesse a
        <br>
        <a href="#"><img src="img/apple.png" style="
    width: 49%;
"/> </a> <a href="#"><img src="img/gplay.png" style="
    width: 49%;
"/></a>
      </p>


    </div>

    <label class="item item-input item-stacked-label" style="margin: 20px;">
      <span class="input-label" >Envie sua idea ou relate um problema</span>

      <textarea placeholder="Comente Aqui" rows="8" cols="10">
	</textarea>
    </label>

    <button class="button button-block button-assertive">
      Enviar
    </button>

  </ion-content>
</ion-view>
